# 指定依赖包的镜像源
registry=https://mirrors.cloud.tencent.com/npm/
# 防止不支持 Node.js 版本
engine-strict=true
# 安装依赖时忽略lock文件。
package-lock=false
# 安装依赖包时指定日志类型
# loglevel=timing
# 固定依赖包的版本，不要带^或~，避免出现小版本
save-exact=true
# 默认情况下 pnpm 安装的依赖是会解决幽灵依赖的问题，所谓什么是幽灵依赖(https://zhuanlan.zhihu.com/p/412419619)你可以查看这篇文章。
# 这里我们配置 shamefully-hoist = true 意为我们需要第三方包中的依赖提升，也就是需要所谓的幽灵依赖。
shamefully-hoist = true
hoist = true
